{% extends 'base.html.twig' %}

{% block body %}
    <div class="row titre">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

            <h1> <span class="label label-info ">Ajouter un contact</span></h1>

        </div>

    </div>

<div class="text-left row">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <h2>Ajouter un Contact</h2>
        </div>


        {{ form_start(form) }}

    <div class="formAjoutContact ">

        <label class="label label-info">Nom</label> {{ form_widget(form.nom) }}<br>
        <label class="label label-info">Prénom</label> {{ form_widget(form.prenom) }}<br>
        <label class="label label-info">Sexe</label> {{ form_widget(form.sexe) }}<br>
        <label class="label label-info">Date de Naissance</label> {{ form_widget(form.dateDeNaissance) }}<br>
        <label class="label label-info">Téléphone fixe</label> {{ form_widget(form.telFixe) }}<br>
        <label class="label label-info">Téléphone mobile</label> {{ form_widget(form.telMobile) }}<br>
        <label class="label label-info">Email</label> {{ form_widget(form.email) }}<br>

        <hr>
        <input class="btn btn-success"  type="submit"><input class="btn btn-danger" type="reset">



    </div>





    {{ form_end(form) }}

</div>
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nested">
            <ul>

                <li>
                    <a href="{{ path('homepage') }}">Retour à l'annuaire</a>
                </li>
            </ul>
        </div>
    </div>



{% endblock %}
